{% extends 'base.html' %}

{% block style %}

   <style>
        .signup-content {
            background: #A2DBFA;
            height: 400px;
        }

        .signup-form {
            display: block;
            position: relative;
            top: 20%;
            left: 25%;
            width: 500px;
            border: 2px double black;
        }
        .signup-form input {
            font-size: 20px;
        }

        .signup-form button {
            background: #053742;
            color: white;
            font-size: 20px;
            padding-left: 20px;
        }
        
        .text {
            text-align: center;
            align-items: center;
        }
   </style>


{% endblock %}

{% block content %}

    <div class="signup-content">
    <p>Pouw retounen nan paj akey lan <strong><a href="{% url 'first' %}">AKEY</a></strong></p>

        <div class="signup-form">
        <h2 class="text">Fomilè pou enskripsyon</h2>

            <form action="{% url 'authentificate' %}" method="POST">
                {% csrf_token %}
                
                {{ form.as_p }}
                <button type="submit" >Enskri</button>
            </form>
            <p>Siw gen yon kont deja al konekte <a href="{% url 'connexion' %}"><strong>konekte</strong></a></p>
        </div>
    </div>

{% endblock %}